<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Page</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<header>
  <!-- Logo -->
   <div class="logo_container">
  <a href="#" class="logo">
    <img src="../images/logo/Transpatent 2.png" alt="Yum Fusion logo coudn't be loaded" class="logo_img" >
  </a>
   </div>

<div class="nav_item">
  <!-- Menu Links -->
  <ul class="menu">
    <li><a href="../templates/index1.html" id="home">Home</a></li>
    <li><a href="#">Menu<a></li>
    <li><a href="../templates/about.html">About us</a></li>
    <li><a href="../templates/contact.html">Contact us</a></li>
  </ul>
</div>
</header>
 <!-- Container -->
<div class="container" >
  <!-- Text -->

  <div class="text-box">
    <h2>Welcome To<br>
     <span>Yum Fusion Kitchen</span></h2>
    <p>we pride ourselves on creating unforgettable dining experiences. Taste our expertly prepared dishes, enjoy our inviting atmosphere and let our dedicated team make your stay exceptional. Whether it's a special occasion or a casual meal, we're happy to have you with us. तपाईंको भोजनको मजा लिनुहोस्!.</p>
    <a href="#">Show Menu</a>
  </div>
  <!-- Images -->
  <div class="image">
    <img src="https://i.ibb.co/b7DDN0T/burger.png" alt="Image cannot be reloaded" class="bg-img">
    <img src="https://i.ibb.co/B4TZNx2/fries.png" alt="Image cannot be reloaded"class="bg-img">
    <img src="https://i.ibb.co/M73ZR04/coke.png" alt="Image cannot be reloaded" class="bg-img">
  </div>
</div>
</body>
</html>

<!-- Footer -->
<!-- <footer>
  <div class="social">
    
    <a href="#" class="logo"><img src="../images/logo/facebook_logo.png" alt="" class="facebook_logo"></a>
    <a href="#" class="logo"><img src="../images/logo/instagram_logo.png" alt="" class="instagram_logo"></a>
    <a href="#" class="logo"><img src="../images/logo/twitter_logo.png" alt="" class="twitter_logo"></a>
    <a href="#" class="logo"><img src="../images/logo/linkedin_logo.png" alt="" class="linkedin_logo"></a>
  
  </div>
   Credit Text 
  <div class="credit">
    <p>Copyright © 2021 - Yum Fusion</p>
    <p>Designed & Developed by Incognito Group</p>
  </div>
</footer> -->

<!-- Image Slide Radio -->
<!-- <input type="radio" id="burger" name="rd" checked>
<input type="radio" id="fries" name="rd">
<input type="radio" id="coke" name="rd">
Container -->